@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(91, 209, 202, 0.5);
}

/* Блок Header */

.header {
  width: 100%;
  min-height: 50px;
  padding: 10px 50px;
  background-color: rgba(20, 234, 212, 0.5);
  display: flex;
  justify-content: space-between;
}
.header-right {
  color: teal;
  font-size: 1.5rem;
  font-weight: 600;
}
.header-right ul {
  display: flex;
}
.header-right li {
  list-style: none;
  padding: 10px;
  transition: all 0.2s linear;
}
.header-right li:hover {
  color: darkolivegreen;
  transform: scale(1.2);
  cursor: pointer;
}
.header-left {
  background-color: darkcyan;
  width: 130px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
  cursor: pointer;
  transition: all 0.2s linear;
  line-height: 100%;
}
.header-left:hover {
  color: cadetblue;
  transform: scale(1.2);
  background-color: aquamarine;
}
.header-center {
  font-size: 5rem;
  font-weight: 800;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  color: teal;
  transition: all 0.5s linear;
  text-align: center;
  overflow: hidden;
}
.header-center:hover {
  cursor: pointer;
  color: crimson;
  transform: scale(1.05);
}

/* Блок Main */
.info {
  margin: 2% auto;
  width: 90%;
  color: crimson;
  background-color: teal;
  border: 10px double darkslategray;
  border-radius: 20px;
  position: relative;
}
.info > h2 {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  transition: all 1s linear;
  position: relative;
}
.info > p {
  font-size: 30px;
  color: aliceblue;
  font-weight: 600;
  padding: 20px;
  text-indent: 50px;
  margin-bottom: 20px;
}
.load-test {
  padding: 10px;
  margin: 20px;
  right: 50px;
  bottom: 50px;
  color:aliceblue;
  background-color:rgba(20, 234, 212, 0.5);
  font-size: 30px;
  font-weight: 800;
  border:2px solid rgba(20, 234, 212, 0.5);
  border-radius: 15px;
  transition: all 0.2s linear;
}
.load-test:hover {
  transform: scale(1.02);
  color: crimson;
  background-color:aliceblue;
  cursor: pointer;
}
.registration {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.active {
  display: block;
  width: 35%;
  min-height: 200px;
  background-color: transparent;
  left: 35%;
  top: 20%;
}
#registration input:not([type="checkbox"]) {
  width: 100%;
  min-height: 30px;
  margin: 2%;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 5px;
}
#registration label {
  margin-left: 20px;
}
#registration-btn,
#login-btn {
  width: fit-content;
  height: 40px;
  color: teal;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid teal;
  padding: 5px;
  transition: all 0.2s linear;
}
#registration-btn:hover,
#login-btn:hover {
  transform: scale(1.05);
  color: darkcyan;
  background-color: aquamarine;
}

.log-in {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.active {
  display: block;
  width: 35%;
  min-height: 200px;
  background-color: transparent;
  left: 35%;
  top: 20%;
}
.log-in label {
  color: teal;
  font-size: 20px;
  font-weight: 600;
}
#logIn input {
  width: 100%;
  min-height: 30px;
  margin: 2%;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 5px;
}
#login-btn {
  margin: 30px;
}
footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 500px;
}
.footer {
  width: 100%;
  min-height: 50px;
  padding: 10px 50px;
  background-color: rgba(20, 234, 212, 0.5);
  display: flex;
  justify-content: space-between;
  color: teal;
  font-size: 16px;
  font-weight: 600;
}
.footer>ul {
  list-style: none;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  transition: all 0.2s linear;
}
.footer a {
  text-decoration: none;
  color:
}
.footer>ul>li>a:hover {
  cursor: pointer;
  color: crimson;
}

