.goods-title {
  margin: 0 auto;
  width: 50%;
  color: teal;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

.contaiter-goods {
  margin: 20px auto;
  width: 90%;
  border: 4px solid teal;
  border-radius: 15px;
  min-height: 90vh;
  display: flex;
}
section {
  width: 70%;
}
.goods-box {
  width: 100%;
}
.goods-img {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color:aliceblue;
  height: 70vh;
  margin: 30px;
  border-radius: 10px;
}
.goods-description, .goods-comments {
  min-width: 100%;
  margin: 30px;
  border: 2x solid teal;
  border-radius: 10px;
  min-height: 100px;
  padding-left: 20px;
  color: teal;
  font-size: 20px;
  font-weight: 600;
}
#comment {
  width: 90%;
  min-height: 20vh;
  color: brown;
  font-size: 16px;
  padding: 10px;
}
.goods-btn {
  background-color: aqua;
  border: 2px solid teal;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  margin: 50px;
  transition: all 0.2s linear;
}
.goods-btn:hover {
  transform: scale(1.1);
  color: crimson;
  background-color:aliceblue;
  cursor: pointer;
}
aside>h2 {
  margin: 20px auto;
  text-align: center;
}
.user-list {
  list-style: none;
  font-size: 20px;
  color: teal;
  font-weight: 600;
  min-height: 50vh;
}
.user-list>li {
  padding: 10px;
}
li>p {
  color: crimson;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}