.container {
  margin: 0 auto;
  width: 70%;
  border: 2px solid teal;
  border-radius: 10px;
  margin-top: 50px;
}
.container>h2 {
  color: teal;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.history-box {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
}
.header-history {
  font-size: 26px !important;
  color: crimson !important;
}
.header-history, .item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  border: 2px solid crimson;
  border-radius: 10px;
  background-color: aliceblue;
  color: teal;
  font-size: 20px;
  font-weight: 600;
}
.header-history>div, .item>div{
  margin: 10px;
}
.page-number{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.page-number li {
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px;
  text-align: center;
  padding: 4px;
  border: 2px solid teal;
  font-size: 20px;
  font-weight: 800;
  color: teal;
  transition: all 0.2s linear;
}
.page-number li:hover {
  transform: scale(1.05);
  cursor: pointer;
  color: crimson;
  border-color: crimson;
}
