@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(91, 209, 202, 0.5);
}
/* Блок Header */

.header {
  width: 100%;
  min-height: 50px;
  padding: 10px 50px;
  background-color: rgba(20, 234, 212, 0.5);
  display: flex;
  justify-content: space-between;
}
.header-right {
  color: white;
  font-size: 1rem;
  min-width: 100px;
  min-height: 100px;
  font-weight: 600;
  text-align: center;
  border: 2px solid cyan;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: teal;
  overflow: hidden;
}
.header-right:hover {
  color:aquamarine;
  transform: scale(1.2);
  cursor: pointer;
}
.header-center {
  color: teal;
  font-size: 1.5rem;
  font-weight: 600;
}
.header-center a {
  text-decoration: none;
  color:crimson;
  font-weight: 600;
}
.header-center ul {
  list-style: none;
  display: flex;
}
.header-center li {
  padding-left: 20px;
  transition: all 0.2s linear;
}
.header-center li:hover {
  transform: scale(1.05);
  font-weight: 800;
}
.header-right li:hover {
  color:darkolivegreen;
  transform: scale(1.2);
  cursor: pointer;
}
.header-center a {
  display: block;
  margin-top: 25px;
}
.header-center a:hover {
  color: teal;
}
.header-left {
  background-color:darkcyan;
  width: 130px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:azure;
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
  cursor: pointer;
  transition: all 0.2s linear;
  line-height: 100%;
}
.header-left:hover {
  color:cadetblue;
  transform: scale(1.2);
  background-color:aquamarine;
}
.header-right-center, .header-left-center {
  font-size: 1.5rem;
  color:crimson;
  font-weight: 900;
  font-style: italic;
  background-color:aliceblue;
  width: 15%;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s linear;
  line-height: 1;
}
.header-right-center:hover, .header-left-center:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color:aqua;
  color: red;
}
.header-right-center h2 {
  margin: 0;
  padding: 0;
}
.mini {
  font-size: 14px;
  margin-left: 20px;
  color: teal;
}

/* Вікно зміни даних користувача */

.user-edit{
  position: absolute;
  left: 40%;
  top: 30vh;
  width: 30%;
  min-height: 300px;
  background-color:aliceblue;
  border: 2px solid crimson;
  border-radius:10px;
  color:rgba(20, 234, 212, 0.5);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
}
.user-edit h2 {
  margin: 20px;
  display: block;
  color: crimson;
  font-size: 26px;
}
.user-edit>input {
  width: 80%;
  font-size: 20px;
  margin: 15px;
  border-radius: 10px;
  padding: 8px;
  color:crimson;
  font-weight: 600;
}
.user-edit>button {
  width: 40%;
  font-size: 20px;
  margin: 15px;
  border-radius: 10px;
  padding: 8px;
  color: brown;
  font-weight: 600;
  transition: all 0.2s linear;
  border: 2px solid rgba(20, 234, 212, 0.5);
  overflow: hidden;
}
.user-edit>button:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: crimson;
  border-color: crimson;
}
.tooltip-main {
  position: absolute;
  color: crimson !important;
  font-size: 12px;
  font-style: italic;
  font-weight: 800;
}
.main-box {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
}
.main-box>div {
  width: 40%;
  height: 40vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 20px;
  border-radius: 20px;
  border: 3px solid teal;
  transition: all 0.2s linear;
}
.main-box>div:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.main-box>div:nth-child(1) {
  background-image: url("../../img/main/1.png");
}
.main-box>div:nth-child(2) {
  background-image: url("../../img/main/2.png");
}
.main-box>div:nth-child(3) {
  background-image: url("../../img/main/3.png");
}
.main-box>div:nth-child(4) {
  background-image: url("../../img/main/4.png");
}
footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 500px;
}
.footer {
  width: 100%;
  min-height: 50px;
  padding: 10px 50px;
  background-color: rgba(20, 234, 212, 0.5);
  display: flex;
  justify-content: space-between;
  color: teal;
  font-size: 16px;
  font-weight: 600;
}
.footer>ul {
  list-style: none;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  transition: all 0.2s linear;
}
.footer a {
  text-decoration: none;
  color: teal;
}
.footer>ul>li>a:hover {
  cursor: pointer;
  color: crimson;
}