#work-order-title {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: teal;
  margin: 30px;
}
.work-order-box {
  width: 90%;
  margin: 0 auto;
  border: 2px solid crimson;
  border-radius: 10px;
}
.work-order-item {
  margin: 10px;
  border: 2px solid teal;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.2fr 1.2fr 1.5fr 1fr 1fr 1.3fr;
  gap: 10px;
}
.work-order-item>div {
  background-color: azure;
  border: 2px solid teal;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  color: teal;
  border-radius: 10px;
}
.work-order-box>div:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
}
.work-order-btn-yes, .work-order-btn-no {
  width: 90%;
  margin: 10px;
  background-color: aliceblue;
  color: teal;
  font-weight: 600;
  padding: 3px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.2s linear;
}
.work-order-btn-yes:hover, .work-order-btn-no:hover {
  cursor: pointer;
  transform: scale(1.05);
  color:crimson;
  border: 4px solid crimson;
}
.work-all-orders {
  margin-left: 100px;
  display: flex;
  width: 40%;
  margin-top: 50px;
}
#work-yes, #work-no {
  font-size: 20px;
  font-weight: 800;
  border: 4px solid teal;
}
#work-yes:hover, #work-no:hover {
  color:crimson;
  border: 4px solid crimson;
}
.work-order-name {
  transition: all 0.2s linear;
}
.work-order-name:hover {
  transform: scale(1.05);
  cursor: pointer;
  color: red;
}
.btn-item-work {
  display: flex;
  flex-direction: column;
}

