.author {
  width: 20%;
}
.date {
  width: 15%;
}
.comment {
  width: 65%;
}
.comment-title {
  text-align: center;
}
.item>div {
  margin: 10px;
  border: 2px solid crimson !important;
  border-radius: 6px;
  text-align: center;
}
.header-history>div {
  text-align: center !important;
}