/* Стилі блоку магазин */
.magazine-container {
  margin: 50px auto;
  width: 80%;
  border: 3px solid teal;
  min-height: 200px;
  color: rgba(44, 112, 175, 0.9);
  background-color:aliceblue;
  border-radius: 5px;
}
.magazine-main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.magazine-main > * {
  min-height: 200px;
  border: 2px solid teal;
  border-radius: 20px;
  margin: 1%;
}
.magazine-main > aside {
  width: 30%;
}
.magazine-main > section {
  width: 68%;
}
.magazine-header-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  font-weight: 600;
}
.magazine-header-box > * {
  margin: 10px;
}
.btn-goods {
  min-height: 20px;
  background-color: transparent;
  color: rgba(44, 112, 175, 0.9);
  font-size: 20px;
  font-weight: 600;
  border: 4px solid teal;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.2s linear;
}
.btn-goods:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.search-goods {
 border-radius: 10px;
 border: 2px solid teal;
 min-height: 24px;
 transition: all 0.2s linear;
 padding-left: 10px;
}
.search-goods:hover {
  transform: scale(1.05);
}

/* Вікно дадавання товару */

.add-goods-form>h2 {
margin: 0 auto;
color:blue;
font-size: 30px;
}
.add-goods-modal {
  color: rgba(44, 112, 175, 0.9);
  width: 50%;
  position: absolute;
  z-index: 10;
  left: 30%;
  top: 30%;
  background-color: cadetblue;
  border-radius: 20px;
  padding-bottom: 20px;
  display: none;
}
.add-goods-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20%;
  font-size: 20px;
}
.add-goods-form>div {
  margin-top: 15px;
  font-weight: 600;
}

#categories, #goods-name, #goods-price {
  background-color:aliceblue;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 10px;
  padding: 3px;
  font-size: 16px;
  color: teal;
}
#goods-description {
  min-width: 500px;
  min-height: 100px;
  font-size: 14px;
  padding-left: 10px;
  font-size: 16px;
  color: teal;
}

/* Робота з inputfile */

.inputfile {
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-weight: 600;
  border: 2px solid teal;
  border-radius: 10px;
  padding: 3px;
  color:rgba(44, 112, 175, 0.9);
}
.inputfile + label:hover {
  cursor: pointer;
}
/* _________________________________________ */

#close-add {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  transition: all 0.2s linear;
}
#close-add:hover {
  transform: scale(1.2);
  cursor: pointer;
}
#goods-add-btn, #goods-edit-btn {
  margin: 20px;
  color: #ad0543;
  font-size: 25px;
}
#goods-edit-btn {
  display: none;
}

/* Стилізуємо бокс з товарами */

.goods-box {
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-wrap: wrap;
}
.goods-item {
  width: 200px;
  height: 300px;
  border: 2px solid teal;
  border-radius: 10px;
  margin: 20px;
  transition: all 0.2s linear;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.goods-item:hover {
  transform: scale(1.05);
}
.goods-img {
  width: 100%;
  height: 60%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.goods-name {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  color: rgba(44, 112, 175, 0.9);
  font-size: 20px;
  font-weight: 800;
  min-height: 10%;
  max-height: 20%;
}
.goods-price {
  padding-left: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #ad0543;
  max-height: 10%;
}

/* ____________________________________________________________ */

/* Добавимо стилі для кнопок "видалити" і "редагувати" */

.goods-edit-btn, .goods-delete-btn {
  width: 40%;
  border: 2px solid teal;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  text-align: center;
  transition: all 0.2s linear;
}
.goods-edit-btn {
  left: 10px;
}
.goods-delete-btn {
  right: 10px;
}
.goods-edit-btn:hover, .goods-delete-btn:hover {
  transform: scale(1.1);
  color: red;
  cursor: pointer;
  border: 2px solid brown;
}

/* Пагінація */

.page-number{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.page-number li {
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px;
  text-align: center;
  padding: 4px;
  border: 2px solid teal;
  font-size: 20px;
  font-weight: 800;
  color: teal;
  transition: all 0.2s linear;
}
.page-number li:hover {
  transform: scale(1.05);
  cursor: pointer;
  color: crimson;
  border-color: crimson;
}

/* ASIDE */


.aside-title {
  text-align: center;
  margin: 10px;
}

.categories-list{
  margin-left: 50px;
}
.categories-list>li {
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s linear;
}
.categories-list>li:hover {
  cursor: pointer;
  font-size: 22px;
  color: crimson;
}


/* _____________________________________________________________ */