.container {
  margin: 20px auto;
  width: 90%;
  border: 2px solid teal;
  border-radius: 15px;
  padding: 20px;
  color: teal;
  font-weight: 600;
}
.order-title {
  margin: 0 auto;
  text-align: center;
}
.order-box {
  display: flex;
  flex-direction: column;
}
.order-item {
  display: flex;
}
.order-item>* {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
  margin: 5px;
}
.order-number {
  font-size: 20px;
  width: 8%;
}
.order-img {
  background-image: url("./close.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 200px;
  width: 20%;
  transition: all 0.2s linear;
}
.order-img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.order-name {
  font-size: 24px;
  width: 15%;
}
.order-description, .order-prise {
  font-size: 20px;
  width: 30%;
}
.order-price {
  width: 12%;
  font-size: 20px;
}
.order-btn {
  width: 20%;
  border: 2px solid teal;
  border-radius:10px;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: teal;
  box-sizing: border-box;
  transition: all 0.2s linear;
}
.order-btn:hover {
  transform: scale(1.05);
  color:crimson;
  cursor: pointer;
}

.order-confirm{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.order-sum, .order-confirm-btn {
  width: 35%;
  border: 8px double teal;
  color: teal;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.order-confirm-btn {
  width: 15%;
  border: 5px solid teal;
  border-radius: 15px; 
  transition: all 0.2s linear;
  box-sizing:border-box;
  overflow: hidden;
}
.order-confirm-btn:hover {
  transform: scale(1.05);
  color:crimson;
  border-color:crimson;
  cursor: pointer;
}